h1, h2, h3{
    color: rgb(68, 66, 66);
    text-align: center;
}
p {
    color: tomato
    font-weight: bold;
}
.hverde {
    color: rgb(77, 206, 26);
}
#h1verde {
    font-size: large;
}
.alinhatexto {
    text-align: right
}

div {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(160, 74, 74);
    padding: 30px;
    margin: 10px;
    width: 300px;
    height: 200px;
}